@import "../../../../sass/colours.scss";

.container {
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-weight: 440;
  cursor: pointer;
  font-size: 2rem;
  color: $primary-colour;
}

.shopping-cart {
  cursor: pointer;
}

.fa-shopping-cart {
  font-size: 18px;
}


