.container {
  cursor: pointer;
  margin: 0 5px;
}

.salePrice {
  color: red;
  padding-right: 5px;
}

.center-align {
  text-align: center;
}

.price {
}

.price-on-sale {
  text-decoration: line-through;
}

.sold-out {
  font-weight: 500;
}

.product-image {
  & > img {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
  }
}
